/******************************media query **********************************/
/*desktop*/
@media (min-width: 980px) {
  html {
    background-color: darkslategray;
  }
  /******************************Header style**********************************/
  header {
    display: flex;
    justify-content: space-between;
    background-color: cadetblue;
    padding: 10px;
    border-bottom: 2px solid rgba(0, 0, 0, 0.0975);
    width: 100%;
    margin-left: -10px;
    margin-top: -8px;
    position: sticky;
    top: 0;
  }
  .sticky {
    position: fixed;
    top: 0;
    width: 100%;
  }
  .sticky + header {
    padding-top: 102px;
  }
  header > nav {
    color: rgb(113, 114, 114);
  }
  header > nav > a {
    text-decoration: none;
    color: rgb(0, 0, 0);
  }
  .right {
    width: 200px;
  }
  i {
    margin: 2%;
  }
  nav.right > a:nth-child(3) {
    font-family: "Patua One", cursive;
    font-size: 25px;
    margin: 1%;
  }
  .right.inline {
    display: flex;
    justify-content: space-around;
  }
  
  /******************************Section style**********************************/
  section {
    display: flex;
    flex-flow: column;
    align-items: center;
    margin-left: 10%;
    margin-right: 10%;
  }
  section > img {
    width: 70%;
    margin: 2%;
  }
  .welcome_text{
    display: none;
  }
  
  /******************************footer style**********************************/
  footer {
    background-color: sienna;
    width: 101.3%;
    margin-left: -0.5%;
    font-size: 11px;
    /* display : none; */
  }

}
/*tablet*/
@media (max-width: 980px) and (min-width: 400px) { 
  html {
    background-color: darkslategray;
  }
  /******************************Header style**********************************/
  header {
    display: flex;
    justify-content: space-between;
    background-color: cadetblue;
    padding: 10px;
    border-bottom: 2px solid rgba(0, 0, 0, 0.0975);
    width: 100%;
    margin-left: -10px;
    margin-top: -8px;
    position: sticky;
    top: 0;
  }
  .sticky {
    position: fixed;
    top: 0;
    width: 100%;
  }
  .sticky + header {
    padding-top: 102px;
  }
  header > nav {
    color: rgb(113, 114, 114);
  }
  header > nav > a {
    text-decoration: none;
    color: rgb(0, 0, 0);
  }
  .right {
    width: 200px;
  }
  i {
    margin: 2%;
  }
  nav.right > a:nth-child(3) {
    font-family: "Patua One", cursive;
    font-size: 25px;
    margin: 1%;
  }
  .right.inline {
    display: flex;
    justify-content: space-around;
  }
  
  /******************************Section style**********************************/
  section {
    display: flex;
    flex-flow: column;
    align-items: center;
    margin-left: 10%;
    margin-right: 10%;
  }
  section > img {
    width: 100%;
    margin: 2%;
  }
  .welcome_text{
    display: none;
  }
  
  /******************************footer style**********************************/
  footer {
    /* display: none; */
  }
}

/*mobile*/
@media (max-width: 400px) {
  html {
    background-color: darkslategray;
  }
  /******************************Header style**********************************/
  header {
    display: flex;
    justify-content: space-between;
    background-color: cadetblue;
    padding: 10px;
    border-bottom: 2px solid rgba(0, 0, 0, 0.0975);
    width: 100%;
    margin-left: -10px;
    margin-top: -8px;
    position: sticky;
    top: 0;
  }
  .sticky {
    position: fixed;
    top: 0;
    width: 100%;
  }
  .sticky + header {
    padding-top: 102px;
  }
  header > nav {
    color: rgb(113, 114, 114);
  }
  header > nav > a {
    text-decoration: none;
    color: rgb(0, 0, 0);
  }
  .right {
    width: 200px;
  }
  i {
    margin: 2%;
  }
  nav.right > a:nth-child(3) {
    font-family: "Patua One", cursive;
    font-size: 25px;
    margin: 1%;
  }
  .right.inline {
    display: flex;
    justify-content: space-around;
  }
  
  /******************************Section style**********************************/
  section {
    display: none;
  }
  .welcome_text{
    color: white;
    font-size: 300%;
    margin: 25%;
  }
  
  /******************************footer style**********************************/
  /* footer {
    display: none;
  } */
}
