html {
  background-color: darkslategray;
}
/******************************Header style**********************************/
header {
  display: flex;
  justify-content: space-between;
  background-color: cadetblue;
  padding: 10px;
  border-bottom: 2px solid rgba(0, 0, 0, 0.0975);
  width: 100%;
  margin-left: -10px;
  margin-top: -8px;
  position: sticky;
  top: 0;
}
.sticky {
  position: fixed;
  top: 0;
  width: 100%;
}
.sticky + header {
  padding-top: 102px;
}
header > nav {
  color: rgb(113, 114, 114);
}
header > nav > a {
  text-decoration: none;
  color: rgb(0, 0, 0);
}
.right {
  width: 200px;
}
i {
  margin: 2%;
}
nav.right > a:nth-child(3) {
  font-family: "Lobster", cursive;
  font-size: 25px;
}
.right.inline {
  display: flex;
  justify-content: space-around;
}

/******************************Section style**********************************/
section > img {
  width: 80%;
  margin: 10%;
}

/******************************footer style**********************************/
footer {
  background-color: sienna;
}

.footer_container {
  display: flex;
  flex-direction: row;
  height: 250px;
  justify-content: space-evenly;
}
.infoSection {
  width: 30%;
  height: 200px;
  margin: 2%;
  background-color: lavender;
}
